.header {
            background-color: lightgray;
            padding: 15px;
            text-align: center;
            font-size: 20px;
            display: block;
        }

        /* Menu container */
        .menu {
            margin: 10px;
        }

        /* Inline-block menu items */
        .menu a {
            display: inline-block;  
            padding: 10px 15px;
            margin: 5px;
            background-color: #dbe9ff;
            color: blue;
            text-decoration: none;
            border: 1px solid #999;
        }

        /* Float menu items */
        .float-menu a {
            float: left;   
            background-color: lightgreen;
            color: black;
        }

 /* Clear float */
        .clear {
            clear: both;   
        }

        /* Border for output box */
        .box {
            border: 2px solid black;
            padding: 10px;
            margin-top: 20px;
        }